body
{
    margin: 0;
}
.Main{
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #000000f3 15%, #ff0000ed 40%, #000000 90%);
}
header
{
    display: flex;
    padding: 1.5% 2.5%;
    justify-content: space-between;
}
header h1{
    margin: 0;
    color: red;
    text-transform: uppercase;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header .top
{
    display: flex;

}
header a 
{
    text-decoration: none;
    padding: 0 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 100%;
    font-weight:bolder;
}
header .top  .sign
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 9.5px 20px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #fff;
    margin-left: 15px;
    
}
header .language
{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.805);
}
header .language a{
    color: white;
}
header .language
{
    font-size: 13px;
}
.intro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
    background-color: #fff;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 20px;
    background-image: url('banner.jpg');
    box-shadow: inset 0 0 500px 500px rgba(22, 21, 21, 0.837);
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.intro h1{
    margin: 0;
    text-align: center;
    padding-top: 7%;
    color: white;
    font-weight: bold;
    font-size: 380%;
}
.intro .price
{
    margin: 10px;
    font-size:x-large;
}
.intro p{
    margin: 2px;
    font-size: large;
    text-align: center;
}
.intro .started
{

    padding: 10px 0;
    width: 40%;
    
}
.started input
{
    width: 50%;
    padding: 2%;
    border-radius: 30px;
    border: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    background-color: rgba(120, 116, 116, 0.642);
    color: white;
    
}
.started button{
    padding: 2%;
    width: 40%;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 130%;
    font-weight: bold;
    background-color: red;
    color: white;
}
input::placeholder {
    color: rgb(196, 192, 192);
}
.trending
{
    margin: 1% 5%;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;


}
.trending h1{
    font-size: 2rem;
    color: white;
}
.trending .photos
{
    display: flex;
    justify-content: space-evenly;
    
}
.photos img
{
    width: 150px;
    height: 250px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
.photos img:hover
{
    transform: scale(1.06);
}
.trending .photos i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.reasons
{
    margin: 1% 5%;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.reasons h1{
    font-size: 2rem;
    color: white;
}
.reasons .list
{
    display: flex;
    color: white;
    justify-content: space-around;
}
.list .content 
{
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 2px solid white;
    padding: 20px 20px ;
    border-radius: 10px;
    background-color: #46424260;
}
.list .content h3{
    margin: 0;
}
.list .content i{
    float: right;
    padding: 50px 0 0 0;
    font-size: 25px;
    color: palevioletred;
    
}
.list .content .two
{
    display: flex;
}
.bottom
{
    background-color: #000000;
}
.questions
{
    margin: 0 8%;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.questions h1{
    font-size: 2rem;
    color: white;
    margin: 0 0 20px 0;
}
.answer
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.answer .ques{
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 15px;
    padding: 25px 20px;
    background-color: #333333bb;
}
.answer .ques h3{
    margin: 0;
    font-weight:600;
}
.answer .ques i{
    font-size: 20px;
}
.login
{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 0;
}
.login p{
    margin: 2px;
    font-size:medium;
    text-align: center;
}
.log input{
    width: 50%;
    padding: 2%;
    border-radius: 30px;
    border: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    background-color: rgba(120, 116, 116, 0.642);
    color: white;
}
.log button{
    padding: 2%;
    width: 40%;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 130%;
    font-weight: bold;
    background-color: red;
    color: white;
}
.login .log{
    width: 40%;
    padding: 10px 0;
}
.footer
{
    margin: 0 8%;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 1% 0 8% 0;
}
.footer p{
    margin: 0;
}
.footer .list2
{
    display: flex;
    gap:10%;
}
.list2 li{
    list-style: none;
    margin: 10px 0;
    font-size:15px;
}
.list2 li a{
    color: rgb(172, 156, 156);
}

.footer .lan
{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.805);
    width: fit-content;
    margin: 10px 0 20px 0;

}
.footer .lan a{
    color: white;
    text-decoration: none;
    padding:8px ;
}
.footer .lan
{
    font-size: 15px;
}
@media screen and (max-width: 600px) {
    header h1
    {
        font-weight: 400;
    }
    header a
    {
        padding: 0 5px;
    }
    .intro .started,.log
    {
    
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 60%;
    }
    .started input,.log input
    {
        width: 100%;
        font-size: 100%;
        padding: 10px;
    }
    .started button,.log button
    {
        width: 110%;
        font-size: 100%;
        padding: 10px;
    }
    .trending .photos
    {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    .photos img
    {
        width: 120px;
        height: 200px;
    }
    .reasons .list
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .list .content
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .list .content i
    {
        padding: 0;
        float: right;
    }
    .questions
    {
    margin: 0 4%;
    }
    .answer .ques
    {
        width: 85%;
    }
    .footer .list2
    {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2px;
    }
    .footer
    {
        padding-bottom: 20%;
    }
  }
  